@media screen and (max-width: 1280px) {
    .header__lang-link {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .header__lang-link {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
    }
}

.header__lang-link {
    font-size: 24px;
    line-height: 1.2;
    font-style: normal;
    text-decoration: none;
    width: 30px;
    height: 28px;
    color: #FFFFFF;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: ease-out 0.15s;
}