* {
    margin: 0;
    padding: 0;
}

.page {
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', sans-serif;
}

.header {
    margin: 0 auto;
    padding: 16px;
    max-width: 1184px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 28px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 28px 48px;
    }
}

.header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 176px;
        height: 52px;
    }
}

.header__lang-link {
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: ease-out 0.15s;
    cursor: url(./images/Pointer.svg), auto;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
    }
}

.header__lang-link_operating {
    border-bottom: 2px solid;
    padding-bottom: 1px;
}

.header__lang {
    list-style-type: none;
    margin: 0;
    column-gap: 18px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 0 auto;
    max-width: 1184px;
}

.lead {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .lead {
        margin: 48px auto 54px;
    }
}

.lead__title {
    margin: 16px 0;
    padding: 0 16px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .lead__title {
        padding: 0 24px;
        font-size: 96px;
        line-height: 100px;
    }
}

.lead__subtitle {
    margin: 0 auto;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin-top: 16px;
        padding: 0 24px;
        max-width: 608px;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
    }
}

.lead__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto 0;
}

.lead__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.lead__caption {
    margin: 8px 16px;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    margin: 34px auto 64px;
    padding: 0 16px;
}

.intro__title {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .intro {
        margin-bottom: 88px;
    }
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width: 1024px) {
    .intro,
    .lead,
    .cover {
        max-width: 984px;
    }
    .lead__caption {
        margin: 8px 0;
    }
}

.intro__text {
    margin: 40px 0 34px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.intro__list-point {
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
}

.intro__list-point p {
    margin: 0;
    padding: 0;
}

.intro__list-span {
    font-weight: normal;
}


/* .photo-grid {
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 92px auto;
    justify-content: center;
} */

.photo-grid {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        padding: 0 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

@media screen and (min-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.photo-grid__item {
    margin: 0;
    max-width: 100%;
    list-style-type: none;
}

.places {
    margin: 14px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place {
    margin-top: 50px;
}

.place__title {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .place__title {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    .places {
        padding: 0 24px;
    }
    .place {
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        grid-gap: 48px 28px;
        margin: 50px auto 80px;
    }
    .place__title {
        grid-row: 1;
        grid-column: 1;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 106%;
        color: #FFFFFF;
        margin: 0;
    }
}

.place__website {
    margin: 32px auto;
    padding: 0 16px;
    grid-row: 1;
    grid-column: 2;
    justify-self: left;
    align-self: end;
}

@media screen and (min-width: 768px) {
    .place__website {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        display: grid;
        grid-template-columns: 460px 484px;
        grid-template-rows: minmax(min-content, max-content) 440px;
        grid-gap: 48px 32px;
        margin-bottom: 80px;
    }
    .place__title {
        margin: 0;
        grid-row: 1;
        grid-column: 1;
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1200px) {
    .place {
        display: grid;
        grid-template-columns: 460px 484px;
        grid-template-rows: minmax(min-content, max-content) 460px;
        grid-gap: 48px 40px;
        margin-bottom: 80px;
    }
}

.place__url {
    margin: 0 0 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    color: #AAAAAA;
}

.place__link {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.place__link:hover {
    opacity: 0.8;
    transition: ease-out 0.15s;
    cursor: url(./images/Pointer.svg), auto;
}

.place__image {
    width: 100%;
    object-fit: cover;
}

.place__text {
    margin-top: 32px;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .place__text {
        padding: 0;
        margin-top: 0;
    }
}

.place__paragraph {
    margin: 0 auto 26px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.place__paragraph:last-child {
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 5.75rem 0;
}

@media screen and (max-width: 768px) {
    .cover {
        padding: calc(4rem + (100vw - 320px) / (768 - 320) * (92 - 66)) 0 calc(4rem + (100vw - 320px) / (768 - 320) * (92 - 64));
    }
}

.cover__background {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/cover-trains.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    color: #fff;
    text-decoration: none;
}

.cover__background:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2a2c2f;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    transition: opacity .2s linear;
}

.cover__background:hover:after {
    opacity: .8;
}

@media screen and (min-width: 1280px) {
    .cover__background {
        min-height: 740px;
    }
}

@media screen and (max-width: 1280px) {
    .cover__background {
        min-height: calc(100vw * 740 / 1280);
    }
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: calc(100vw * 640 / 1024);
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: calc(100vw * 480 / 768);
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        background-size: cover;
    }
}

.cover__title {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: calc(76 / 72);
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: calc(2rem + (100vw - 320px) / (768 - 320) * (72 - 32));
    }
}

.cover__subtittle {
    max-width: 360px;
    margin: 2rem auto 0;
    text-align: center;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: calc(22 / 18);
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .cover__subtittle {
        margin: calc(1rem + (100vw - 320px) / (768 - 320) * (32 - 16)) auto 0;
        font-size: calc(0.875rem + (100vw - 320px) / (768 - 320) * (18 - 14));
    }
}

.footer {
    max-width: 1184px;
    display: block;
    padding: 0 16px 24px;
    margin: 0 auto;
}

.footer__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer__links li {
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .footer__links li {
        margin-bottom: 0;
    }
}

.footer__link {
    margin-right: 18px;
    font-family: Inter;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
}

.footer__link:hover {
    opacity: 0.8;
    transition: ease-out 0.15s;
    cursor: url(./images/Pointer.svg), auto;
}

.footer__copyright {
    margin: 16px auto 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__links {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
    .footer__copyright {
        text-align: right;
        margin: 0;
    }
}