
.photo-grid__item {
    margin: 0;
    max-width: 100%;
    list-style-type: none;
}

@media screen and (max-width: 1279px) {
    .photo-grid__list {
      gap: 14px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .photo-grid__list {
      gap: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .photo-grid__list {
      gap: 12px;
    }
  }